<table class="table table-bordered border-primary">
  <tr>
    <th>
      <%= t('.author') %>
    </th>
    <th>
      <%= t('.question') %>
    </th>
    <th>
      Gist
    </th>
  </tr>
  <tbody>
  <%= render @gists %>
  </tbody>
</table>