<h1>Tests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Questions count</th>
  </tr>
  <% Test.all.each do |test| %>
    <tr>
      <td><%= link_to test.title, test_questions_path(test) %></td>
      <td><%= test.questions.count %></td>
    </tr>
  <% end %>
</table>
<br/>
